CalculadoraWSService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions targetNamespace="http://webservice.estoque.caelum.com.br/" name="CalculadoraWSService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://webservice.estoque.caelum.com.br/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xs:schema version="1.0" targetNamespace="http://webservice.estoque.caelum.com.br/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

      <xs:element name="CalculaMedia" type="tns:CalculaMedia"/>

      <xs:element name="CalculaMediaResponse" type="tns:CalculaMediaResponse"/>

      <xs:complexType name="CalculaMedia">
        <xs:sequence>
          <xs:element name="primeiroNumero" type="xs:int"/>
          <xs:element name="segundoNumero" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="CalculaMediaResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:double"/>
        </xs:sequence>
      </xs:complexType>
</xs:schema>
  </types>
  <message name="CalculaMedia">
    <part name="parameters" element="tns:CalculaMedia"/>
  </message>
  <message name="CalculaMediaResponse">
    <part name="parameters" element="tns:CalculaMediaResponse"/>
  </message>
  <portType name="CalculadoraWS">
    <operation name="CalculaMedia">
      <input wsam:Action="http://webservice.estoque.caelum.com.br/CalculadoraWS/CalculaMediaRequest" message="tns:CalculaMedia"/>
      <output wsam:Action="http://webservice.estoque.caelum.com.br/CalculadoraWS/CalculaMediaResponse" message="tns:CalculaMediaResponse"/>
    </operation>
  </portType>
  <binding name="CalculadoraWSPortBinding" type="tns:CalculadoraWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="CalculaMedia">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="CalculadoraWSService">
    <port name="CalculadoraWSPort" binding="tns:CalculadoraWSPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

